body{
margin: 0;
display:flex;
justify-content: center;
height: 100vh;
align-items: center;
background-color: aliceblue;
font-family: sans-serif;
}
.btn{
    background-color: pink;
    padding: 20px 40px;
    
}